<!DOCTYPE html>

<html>

	<head>
		<meta charset=UTF-8>
		<title>HW7: Guilherme Salazar</title>
		<link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css" />
	</head>

	<body>
	
	   {% block header %}
       <div id="header">

	   <p class="hfp">
	       <span class="lefttxt"><a href="/">Home</a></span> 
	       <span class="righttxt">
	           {% if not anonymous %}
	           <a href="/board">My Boards</a> - <a href="/pin">My Pins</a> - <b>{{username}}</b> -
	           {% endif %}
	           <a href="{{headurl}}">{{text}}</a>
	       </span>
	   </p>

        </div>
        {% endblock %}
	
		{% block content %}
		<div id="content">
	
			<br />
	
			<h1>
			     Pinboard {% if objectname %} &ndash; <span id="pagename">{{objectname}}</span> {{pagecat}}
			     {% elif pagecat %} &ndash; {{pagecat}} {% endif %}
			</h1>
	   
	        <br />
	
			{% if exception %}
	
			{% block messagebox %}
			<div class="exbox">
				<img id="mimage" alt="Warning Image" src="/static/images/warning.png"/>
				<p id="mheader">{{ message_header }}</p>
				<p>{{ message_body }}</p>
			</div>
			{% endblock %}
	
			<br /> <br />
	
			{% endif %}
	
	        <!-- Super block in which a pin (or a board) is displayed -->        
	        {% block display %}
	        {% endblock %}
	
			<!-- Super block in which a new pin is entered -->
			{% block box %}
			{% endblock %}
	
		</div>
		{% endblock %}
	
		{% block footer %}
		<div id="footer">
			<p class="hfp">
				<span class="centertxt">design by <span class="myname">Guilherme Salazar Silva</span>
			</p>
		</div>
		{% endblock %}
	
		<br />
		<br />
		<br />
	
	</body>

</html>