<!DOCTYPE html>

<html>

<head>
<meta charset=UTF-8>
<title>HW4: Guilherme Salazar</title>
<link rel="stylesheet" type="text/css"
	href="/templates/stylesheets/style.css" />
</head>

<body>

	{% block header %}
	<div id="header">

		<a href={{'"' + headurl + '"'}}>{{ text }}</a></span>

	</div>
	{% endblock %}

	<!--  -->
	{% block content %}
	<div id="content">

		<br />

		<h1>Pinboard</h1>

		{% if exception %}
		<!--  -->
		{% block messagebox %}
		<div id="exbox">
			<img id="mimage" src="/templates/images/warning.png" />
			<p id="mheader">{{ message_header }}</p>
			<p>{{ message_body }}</p>
		</div>
		{% endblock %}
		<!--  -->

		<br /> <br />

		<!--  -->
		{% endif %}

		<!--  -->
		{% block display %}
		<!--  -->
		{% endblock %}

		<!-- Super block in which we'll display the content entered -->
		{% block box %}
		<div id="box">

			<p>Enter new pin</p>

			<form action="/pin/" method="post">
				<label for="urltextbox">Image URL: </label><input id="urltextbox"
					type="text" name="url" /><br /> <label for="captiontextbox">Caption:
				</label><input id="captiontextbox" type="text" name="caption" /><br /> <br />
				<input type="submit" />
			</form>

		</div>
		{% endblock %}

	</div>
	{% endblock %}

	<br />
	<br />
	<br />
	<br />

	<!--  -->
	{% block footer %}
	<div id="footer">

		<span class="lefttxt">Guilherme Salazar Silva</span> <span
			class="quote">"Quaerendo Invenietis" &ndash; JSB </span>

	</div>
	{% endblock %}

</body>

</html>