{% extends "pthumbs.html" %}

{% block box %} 

{% if editable %}
<div class="box">

	<p>Board info</p>

	<form action="" method="post">
		<label for="titlebox">Title: </label> 
		<input id="titletbox" type="text" name="title" value="{{board.title}}"></input>
		
		<br /><br /> 
		
		<label for="coverbox">Cover URL: </label> 
		<input id="coverbox" type="text" name="coverurl" value="{{board.imgUrl}}"></input>
		
		<br /><br /> 
		
		<label for="addpinlist">Add pin: </label> 
		<select id="addpinlist" name="addpinlist">
		    <option value="--">--</option>
		    
		  {% for pin in allpins %}
			<option value="{{pin.id}}">{{ pin.caption }}</option>
		  {% endfor%}
		  
		</select> 
		
		<br /> <br /> 
		
		<label for="delpinlist">Delete pin: </label> 
		
		<select id="delpinlist" name="delpinlist"> 
		    <option value="--">--</option>
		    
		  {% for pin in items %}
	      <option value="{{pin.id}}">{{ pin.caption }}</option>
		  {% endfor%}
		  
		</select> 
		
		<br /> <br />
		
		<input type="checkbox" name="privacy" value="private" {% if board.private %} checked="checked" {% endif %} /> Private 
		
		<br /> <br />
		
		<span class="leftalign"> <input type="hidden" name="action"
            value="update" /> <input type="submit" value="Update this info" />
        </span>
	</form>

	<form action="" method="post">
		<span class="rightalign"> <input type="hidden" name="action"
			value="delete" /> <input type="submit" value="Delete this board" />
		</span>
	</form>
</div>
{% endif %} 

{% endblock %}
