{% extends "base.html" %}

{% block header %}
<div id="header">

	<p class="hfp">
		<span class="lefttxt"><a href="/">Home</a></span> 
		
		<span class="righttxt">
		  {% if not anonymous %}
		      <a href="/board">My Boards</a> - <a href="/pin">My Pins</a> - <b>{{username}}</b> -
		  {% endif %}
		      <a href="{{headurl}}">{{text }}</a></span>
	</p>

</div>
<!--  -->
{% endblock %}

<!--  -->
{% block box %}

<div class="homebox">
<div class="leftbox">
    {% if not anonymous %}
        {% set title = 'Boards' %}
    {% else %}
        {% set title = 'Public Boards' %}
    {% endif %}
    <a href="/board"><img title="{{title}}" src="/templates/images/board.png"/></a>
</div>
{% if not anonymous %}
<div class="rightbox">
    <a href="/pin"><img title="Pins" src="/templates/images/photo.png"/></a>
</div>
{% endif %}
</div>

{% if not anonymous %}
<p class="centerbottom">Grab our <a id="bookmarklet" href="">Pin It</a> bookmarklet and put it on your bookmarks bar!</p>
    <!-- The script below sets the href above with the correct host, so it'll work both on localhost:8080 
          and on the real host. (by Prof. Vidal) -->
<script>
link = document.getElementById('bookmarklet');
link.href = "javascript:(function(){ _my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='http://" 
    + location.host + "/templates/js/bookmarklet.js?x='+(Math.random());document.getElementsByTagName('head')[0].appendChild(_my_script);})();";
</script> 
{% endif %}

{% endblock %}
<!--  -->

