{% extends "pthumbs.html" %}

{% block image %}
    <a class="thumbs" href="{{pinUrl}}"><img width="200" align="top" src="{{item.imgUrl}}"></a>
{% endblock %}

{% block partof %}
{% if boards|count > 0 %}

<div class="centralized">
Part of: 
<br />
{% for board in boards %}
<a href="/board/{{board.id}}">{{board.title}}</a> board
<br />
{% endfor %}
</div>
<br />
{% endif %}
{% endblock %}

{% block box %}
{% endblock %}

{% block pinfo %}

{% if editable %}
    <script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/static/js/pinscript.js"></script>

	<form>
	   <input id="privacy" type="checkbox" name="privacy" value="private" {% if (items|first).private %} checked="checked" {% endif %} /> Private
	</form>
	
	<br/>
	
	<form action="" method="post">
	   <span class="rightalign">
	       <input type="hidden" name="action" value="delete" />
	       <input type="submit" value="Delete this pin" />
	   </span>
	</form>
{% endif %}

{% endblock %}
