<!-- jinja2 template, inherits from "base.html" -->

{% extends "thumbnails.html" %}

<!--  -->
{% block box %}
<div id="box">
	<!-- Super block in which we'll display the content entered -->

	<p>Enter new pin</p>

	<form action="" method="post">
		<label for="urltextbox">Image URL: </label> <input id="urltextbox"
			type="text" name="url" value={{'"' + (pins|first).imgUrl + '"' }}></input><br />

		<label for="captiontextbox">Caption:</label> <input
			id="captiontextbox" type="text" name="caption" value={{'"' + (pins|first).caption + '"' }}></input><br />
		<br /> <input type="hidden" name="action" value="update" /> <input
			type="submit" value="Update this info" />
	</form>

	<form action="" method="post">
		<input type="hidden" name="action" value="delete" /> <input
			type="submit" value="Delete this pin" />
	</form>
</div>
{% endblock %}
