<!-- jinja2 template, inherits from "base.html" -->

{% extends "base.html" %}

<!--  -->
{% block header %}
<div id="header">
	<span class="lefttxt"><a href="/">Home</a></span> <span class="righttxt"><a
		href="/pin">My Pins</a> - <b>{{username}}</b> - <a href={{'"' + headurl + '"'}}>{{text
			}}</a></span>
</div>
{% endblock %}

<!-- Block that appears before "Enter new pin" -->
{% block display %}
<!--  -->
{% for pin in pins %}
<div id="box">
	<p>
		<a href={{"/pin/" ~ pin.id }}><img width="200" align="top" src={{ '"' + pin.imgUrl + '"' }}/></a>
	</p>
	<p id="caption">
		{{ pin.caption }}<br />Created on {{ pin.date }}
	</p>
</div>
<br />
{% endfor %}
<!--  -->
{% endblock %}
